<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JLS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JLS.Properties.Settings>
            <setting name="UiScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PlaylistSplitterWidth" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="BrowserSplitterWidth" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="PlaylistColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="BrowserColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedDeviceName" serializeAs="String">
                <value />
            </setting>
            <setting name="WaveformStyle" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="ControlStyle" serializeAs="String">
                <value>Waveform</value>
            </setting>
            <setting name="IsVuMeterVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="LastBrowserPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExpandedFoldersJson" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedVolume" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="LastTrackPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTrackPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FileScrollPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TreeScrollPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlaylistsListScrollPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlaylistTracksScrollJson" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelectedPlaylistName" serializeAs="String">
                <value />
            </setting>
            <setting name="TreeSpacing" serializeAs="String">
                <value>Medium</value>
            </setting>
            <setting name="TreeFontSize" serializeAs="String">
                <value>Medium</value>
            </setting>
            <setting name="ListSpacing" serializeAs="String">
                <value>Medium</value>
            </setting>
            <setting name="ListFontSize" serializeAs="String">
                <value>Medium</value>
            </setting>
            <setting name="PlaylistListSpacing" serializeAs="String">
                <value>Medium</value>
            </setting>
            <setting name="PlaylistListFontSize" serializeAs="String">
                <value>Medium</value>
            </setting>
            <setting name="NowPlayingControlStyle" serializeAs="String">
                <value>Classic</value>
            </setting>
            <setting name="NowPlayingWaveformStyle" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="LastOpenedView" serializeAs="String">
                <value>Explorer</value>
            </setting>
            <setting name="LyricsStyle" serializeAs="String">
                <value>Beautiful</value>
            </setting>
            <setting name="GlobalHotkeysEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeysJson" serializeAs="String">
                <value />
            </setting>
            <setting name="IsGaplessPlaybackEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsOsdEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OsdPosition" serializeAs="String">
                <value>Top-Left</value>
            </setting>
            <setting name="BrowserSortColumn" serializeAs="String">
                <value />
            </setting>
            <setting name="BrowserSortAscending" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BrowserSortActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFullscreenVisualizerEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VisualizerStyle" serializeAs="String">
                <value>ClassicBars</value>
            </setting>
            <setting name="IsOverlayVisualizerEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsFpsLimited" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TargetFps" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="PlaybackMode" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedPlayHistory" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedShuffledQueue" serializeAs="String">
                <value />
            </setting>
            <setting name="IsAlbumViewEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastTimeDisplayMode" serializeAs="String">
                <value>Full</value>
            </setting>
            <setting name="AlbumSplitterWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlbumsListScrollPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastSelectedAlbumTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="IsShowTenthsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowTitleMode" serializeAs="String">
                <value>AppName</value>
            </setting>
            <setting name="IsMediaKeysEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedTitleBarColorMode" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="SelectedTitleBarTextMode" serializeAs="String">
                <value>AppName</value>
            </setting>
            <setting name="SelectedTransitionMode" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="IsSkipSilenceEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransitionDuration" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ShowSplashScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BrowserAlternatingStyle" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="PlaylistAlternatingStyle" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="IsShuffleActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsHorizontalVolumeEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BottomPanelLayout" serializeAs="String">
                <value>Volume_VU_Waveform</value>
            </setting>
            <setting name="IsMinimizeToTrayEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsMiniPlayerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsNowPlayingFluidBackgroundEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MiniPlayerLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MiniPlayerTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="IsCleanModeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsOptimizedWindowModeEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VuMeterStyle" serializeAs="String">
                <value>Split</value>
            </setting>
            <setting name="AlbumScrollPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsNowPlayingFluidAudioReactiveEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAutoHideControlsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColorExtractionAlgorithm" serializeAs="String">
                <value>SmartAccent</value>
            </setting>
            <setting name="FixedPrimaryColor" serializeAs="String">
                <value />
            </setting>
            <setting name="IsSmoothScrollEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsTaskbarProgressEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsMinimalBottomPanelEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsPlaylistMinimalModeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsPlaylistSidebarCollapsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAlbumSidebarCollapsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsBrowserSidebarCollapsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepeatMode" serializeAs="String">
                <value>Off</value>
            </setting>
            <setting name="IsFullscreenF10Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsGlassModeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClassicFolderScrollJson" serializeAs="String">
                <value />
            </setting>
            <setting name="AlbumFolderScrollJson" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedAlbumsTracksScrollJson" serializeAs="String">
                <value />
            </setting>
            <setting name="IsPlayerLogoHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BeautifulLyricsFont" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="IsAlwaysShowTrackTimingsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeySkipForwardSeconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HotkeySkipBackwardSeconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HotkeyVolumeUpPercent" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HotkeyVolumeDownPercent" serializeAs="String">
                <value>5</value>
            </setting>
        </JLS.Properties.Settings>
    </userSettings>
</configuration>